<div class="header">
  <h1>Lendiary</h1>
</div>

<div class="content">
<p>
  <strong><%= @art_item.name %></strong>
</p>

<p>
By:
  <strong><%= @art_item.artist %></strong>
</p>

<p>
  <img src="<%= @art_item.image %>"/>
</p>

<p>
  <strong>Available:</strong>
  <% if @art_item.available? %>
    <%= "Available. " %>
    <%= link_to "Reserve", art_item_reservation_path(@art_item), method: :post %>
  <% elsif @art_item.user == current_user %>
    <%= "You have this. " %>
    <%= link_to "Return", art_item_reservation_path(@art_item), method: :delete %>
  <% else %>
    <%= "Somebody else has this currently." %>
  <% end %>
</p>

<!--<%= link_to 'Edit', edit_art_item_path(@art_item) %> |-->
<!--<%= link_to 'Back', art_items_path %>-->
<p id="notice"><%= notice %></p>
</div>
