<div class="header">
  <h1>Lendiary</h1>
</div>

<div class="content">
<p>
  <strong>Name:</strong>
  <%= @art_item.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @art_item.artist %>
</p>

<p>
  <img src="<%= @art_item.image %>"/>
</p>

<p>
  <strong>Available:</strong>
  <%= @art_item.available? %>
</p>

<p>
  <strong>Lended to:</strong>
  <%= @art_item.user_id %>
</p>

<%= link_to 'Edit', edit_art_item_path(@art_item) %> |
<%= link_to 'Back', art_items_path %>
<p id="notice"><%= notice %></p>
</div>
