<div class="header">
  <h1><%= link_to "Lendiary", root_path %></h1>
</div>

<div class="content">

<table class="information">
<tr>
<td>
Title:
</td>
<td>
  <strong><%= @art_item.name %></strong>
</td>
</tr>

<tr>
<td>
By: 
</td>
<td>
  <strong><%= @art_item.artist %></strong>
</td>
</tr>

<tr>
<td>
Medium:
</td>
<td>
  <strong><%= @art_item.medium %></strong>
</td>
</tr>

<tr>
<td>
Year: 
</td>
<td>
  <strong>XXXX</strong>
</td>
</tr>
</table>

<p>
  <img src="<%= @art_item.image %>"/>
</p>

<p class="details">
  *** Details and miscellaneous information ***
</p>

<p class="pricing">
  *** Pricing information, terms etc. ***
</p>

<p>
  <strong>Available:</strong>
  <% if @art_item.available? %>
    <%= "Available. " %>
    <%= link_to "Reserve", art_item_reservation_path(@art_item), method: :post %>
  <% elsif @art_item.user == current_user %>
    <%= "You have this. " %>
    <%= link_to "Return", art_item_reservation_path(@art_item), method: :delete %>
  <% else %>
    <%= "Somebody else has this currently." %>
  <% end %>
</p>

<!--<%= link_to 'Edit', edit_art_item_path(@art_item) %> |-->
<!--<%= link_to 'Back', art_items_path %>-->
<p class="footer">All content is either public domain or licensed under creative commons.</p>
<p class="footer">Site (c) Jukka Eerikäinen 2016 jukka.eerikainen@aalto.fi</p>
<p class="footer"><a href="https://github.com/jukkae/lainaamo">Source code</a>
<p id="notice"><%= notice %></p>
</div>
