<h1>Lendiary</h1>
<% if !user_signed_in? %>
  <p class="login-form">
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= f.submit 'Sign in' %>
      <%= link_to 'Forgotten password?', new_password_path(:user) %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </p>
<% else %>
  <p class="logout-form">
    <%= link_to 'My profile', user_path(current_user) %>
    <%= link_to'Logout', destroy_user_session_path, :method => :delete %>
  </p>
<% end %>
<h2>Available artworks:</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Image</th>
    <th>Available?</th>
    <th></th>
    <th></th>
  </tr>
  <% @art_items.each do |art_item| %>
  <tr>
    <td><%= art_item.name %></td>
    <td><%= art_item.artist %></td>
    <td><%= art_item.image %></td>
    <td><%= art_item.available? %></td>
    <td><%= link_to "Show details", art_item %></td>
    <% if user_signed_in? %>
      <td>
        <% if art_item.available? %>
          <%= link_to "Reserve", art_item_reservation_path(art_item), method: :post %>
        <% elsif art_item.user == current_user %>
          <%= link_to "Return", art_item_reservation_path(art_item), method: :delete %>
        <% else %>
          <%= "This item is reserved to someone else." %>
        <% end %>
      </td>
    <% else %>
      <td/>
    <% end %>
  </tr>
  <% end %>
</table>
