<div class="header">
<h1>Lendiary</h1>
<% if !user_signed_in? %>
  <p class="user-actions">
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= "Email: " %>
      <%= f.text_field :email %>
      <%= "Password: " %>
      <%= f.password_field :password %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= f.submit 'Sign in' %>
      <%= link_to 'Forgotten password?', new_password_path(:user) %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </p>
<% else %>
  <p class="user-actions">
    <%= link_to 'My profile', user_path(current_user) %>
    <%= link_to'Logout', destroy_user_session_path, :method => :delete %>
  </p>
<% end %>
<p>
Lendiary is a peer-to-peer artwork lending service. Lend, rent and buy art.
</p>
</div>
<div class="content">
<h2>Artworks:</h2>
<table class="artworks">
  <% @art_items.each do |art_item| %>
  <tr>
    <td><img src="<%= art_item.image %>" style="max-width: 360px;"/></td>
    <td><strong><%= art_item.name %></strong><br/> by <%= art_item.artist %></td>
    <td>
      <% if art_item.available? %>
        Available!<br/>
      <% end %>
    <%= link_to "Show details", art_item %>
    <% if user_signed_in? %>
      <br/>
        <% if art_item.available? %>
          <%= link_to "Reserve", art_item_reservation_path(art_item), method: :post %>
        <% elsif art_item.user == current_user %>
          <%= link_to "Return", art_item_reservation_path(art_item), method: :delete %>
        <% else %>
          <%= "Not available." %>
        <% end %>
    <% else %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
</div>
